*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php

.idea/.name

.idea/deployment.xml

.idea/workspace.xml

.idea/vcs.xml

*.iml

.idea/modules.xml

.idea/misc.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/dictionaries/ChelseaStats.xml
